.card {
    border: 3px solid black;
    cursor: pointer;
    height: 170px;
    margin: 15px;
    overflow: hidden;
    width: 170px;
  }

  .card-height {
    height: 100%;
    width: 100%;
  }
  
  .card:hover {
    transform: scale(1.05);
    transition: 0.1s;
  }
  
  .card-img-top {
    border-radius: 0;
  }
  
